body{
    background-color: rgb(243, 243, 243);
}
.footer-menu-font{
    font-size: 17px;
}
.dropdown-toggle::after {
display:none;
}
div.main_body{
    display: block;
    min-width: 920px;
    max-width: 1080px;
    margin: auto;
}
body {
    padding-top: 5.5rem;
}
.navbar-right{
    margin-right: 15rem;
}
form.base_form{
    max-width: 450px;
    justify-content: center !important;
    margin: auto;
    margin-top: 10%;
}
hr.solid_sep{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 3px solid rgba(0, 0, 0, 0.1);
}
div.main_len_adj{
    min-height: 600px;
}
span.solve_indicator{
    margin-top: 0.4rem;
    margin-left: 0.2rem;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
span.gray_indicator{
    background-color: #bbb;
}
span.success_indicator{
    background-color: rgb(85, 194, 5);
}
span.danger_indicator{
    background-color: rgb(182, 0, 22);
}
.problem_container{
    max-height: 40px;
    width: auto;
    padding: 0px;
    margin-top:0.2rem;
}
a.problem_title{
    font-size: 14pt;
    text-decoration: none;
    color: rgb(18, 20, 22);
}
a.problem_title:hover{
    color: rgb(76, 183, 237);
}
.problem_tabs{
    min-height: 1000px;
    background-color: rgb(251, 251, 251);
}
.problem_content{
    min-height: 1000px;
    background-color: rgb(251, 251, 251);
}
.problem_limit_text{
    color: rgb(156, 163, 168);
    font-size: 10.5pt;
    margin-top:0rem;
    margin-bottom:1rem;
}
span.gray_separator{
    border-bottom: 1px solid rgb(176, 193, 188);
    min-height: 40px;
    display: inline-block;
}
p{
    font-size: 12pt;
    margin-bottom: 0.6rem;
}
div.fak_margin{
    margin-top: -1rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}
.no_margin{
    margin-top: 0rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
}
td.sample_test_item{
    text-align: left;
}
.CodeMirror{
	border: 1px solid rgb(176, 193, 188);
}
span.code_editor_separator{
    border-bottom: 3px solid rgb(166, 166, 166);
    width: 90%;
    display: inline-block;
}
.footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(230, 230, 230);
    margin-top: 200px;
}
.alert-fixed{
    position:fixed;
    top: 70px;
    left: 22%;
    width: 50%;
    z-index:9999;
    border-radius:2%;
}
td.submission_item{
    text-align: center;
    padding: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
th.submission_item{
    text-align: center;
    padding: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
td.to_problem:hover{
    background-color: rgb(205, 235, 255);
}
th.sort:hover{
    background-color: rgb(240, 245, 240);
}
pre.to_problem{
    text-decoration: none;
    color: rgb(100, 100, 100);
}
pre.to_problem:hover{
    color: rgb(0, 0, 0);
}
a.no_dec{
    text-decoration: None
}
button.go_back{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0px;
    padding-bottom: 1px;
    font-size: 17px;
}
img.profile_icon{
    border-top: 3px solid #ddd;
    border-radius: 5%;
    box-shadow: 0 0 0 7px #fff,
                0 0 0 8px #ddd;
}
div.adj{
    display: inline-block;
}
.small_font{
font-size: 9pt;
}
div.profile_icon_box{
max-width: 230px;
}
div.border{
    border-radius: 5%;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.status{
    padding: 0.5rem;
    margin: 0;
    margin-bottom: 0.2rem;
}
.status_center{
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    margin: 0;
    text-align: center;
}
.status_table{
font-size: 13pt;
width:100px;
}