<p>Giving integer N</p>
<p>It is required to represent the integer N as a product of primes</p>
<p><b>Input:</b></p>
<ul class="pl-4">
    <li>First line contains one integer N (N ⩽ 10<sup>9</sup>)</li>
</ul>
<p><b>Output:</b></p>
<ul class="pl-4">
    <li>One line contains a list of prime factors of N in non-decreasing order, separated by space</li>
</ul>
<table class="table table-bordered sample_test">
    <tr>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Input:</b></pre>
        </td>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Output:</b></pre>
        </td>
    </tr>
    <tr>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">72</pre>
        </td>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">2 2 2 3 3</pre>
        </td>
    </tr>
</table>
<br>
<table class="table table-bordered sample_test">
    <tr>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Input:</b></pre>
        </td>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Output:</b></pre>
        </td>
    </tr>
    <tr>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">97</pre>
        </td>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">97</pre>
        </td>
    </tr>
</table>