<p>Giving array a[1..N] and Q query's</p>
<p>In every query giving integers L and R. Find the sum of array numbers on a[L..R] segment</p>
<p><b>Input:</b></p>
<ul class="pl-4">
    <li>First line contains one integer N (N ⩽ 10<sup>5</sup>)</li>
    <li>Second line contains N integers a<sub>1</sub>, a<sub>2</sub>, ..., a<sub>N</sub> (a<sub>i</sub> ⩽ 10<sup>3</sup>)</li>
    <li>Third line contains one integer Q (Q ⩽ 10<sup>5</sup>)</li>
    <li>Each of following lines contains two integers L and R (1 ⩽ L, R ⩽ 10<sup>5</sup>)</li>
</ul>
<p><b>Output:</b></p>
<ul class="pl-4">
    <li>Q lines - answer for every query</li>
</ul>
<table class="table table-bordered sample_test">
    <tr>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Input:</b></pre>
        </td>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Output:</b></pre>
        </td>
    </tr>
    <tr>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">5
7 3 13 10 1
5
4 5
1 1
3 5
2 4
1 5</pre>
        </td>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">11
7
24
26
34</pre>
        </td>
    </tr>
</table>