<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ main_css }}"/>
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand mt-n1" href="/">Offnline Judge</a>
        <div class="collapse navbar-collapse ml-5" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% if navbar_active_tab_id == 0 %}
                <li class="nav-item active">
                    <a class="nav-link footer-menu-font" href="/home">Home</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link footer-menu-font" href="/home">Home</a>
                </li>
                {% endif %}
                {% if navbar_active_tab_id == 1 %}
                <li class="nav-item pl-3 active">
                    <a class="nav-link footer-menu-font" href="/practice">Practice</a>
                </li>
                {% else %}
                <li class="nav-item pl-3">
                    <a class="nav-link footer-menu-font" href="/practice">Practice</a>
                </li>
                {% endif %}
                {% if navbar_active_tab_id == 2 %}
                <li class="nav-item pl-3 active">
                    <a class="nav-link footer-menu-font" href="#">Submissions</a>
                </li>
                {% else %}
                <li class="nav-item pl-3">
                    <a class="nav-link footer-menu-font" href="#">Submissions</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <a href="#"><img src="{{ user_icon }}" class="rounded-circle" alt="{{ current_user.login }}"></a>
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle" href="#" id="profile_dropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">⯆</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item" href="#">My Submitions</a>
                        <a class="dropdown-item" href="#">Messages(soon)</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-dark" href="/log_in">Log in</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="btn btn-dark" href="/sign_up">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>