{% extends "base.html" %}

{% block content %}
<div class="problem_tabs nav-expand-lg p-5">
    <div class="d-flex justify-content-left">
        <p>This site contains an archive of Olympiad programming tasks with a built-in testing system. To sumbit problem go to practice section, where currently more than 2 problems, paste your code and click on submit button. After submitting system test your solutions on tests and then returns verdict.<br><br>Testing system uses the following compilers:</p>
    </div>
    <div class="d-flex justify-content-left">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#language_1">GNU C++11</button>
        <br>
        <div id="language_1" class="collapse col py-2 px-0 ">
            <div class="card card-body py-2 px-3 ml-3">
                <p class="m-0">
                    g++ -static -std=c++11 -o submission.exe submission.cpp
                </p>
            </div>
        </div>
    </div>
    <br><br><br>
    <table class="table status_table table-bordered">
        <tr>
            <th class="status_center"><pre>Status</pre></th>
            <th class="status_center"><pre>Event</pre></th>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-success">AC</pre></td>
            <td class="status"><pre>Accepted. Program works correctly and passed all tests</pre></td>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-warning">CE</pre></td>
            <td class="status"><pre>Compilation error. Syntax error in the program or the file extension is specified incorrectly</pre></td>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-danger">WA</pre></td>
            <td class="status"><pre>Wrong answer. The result of the program does not match with correct answer</pre></td>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-danger">TLE</pre></td>
            <td class="status"><pre>Time limit exceeded. Program runs longer than the installed time</pre></td>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-danger">MLE</pre></td>
            <td class="status"><pre>Memory limit exceeded. Program uses more than the installed memory size</pre></td>
        </tr>
        <tr>
            <td class="status_center"><pre class="text-danger">RE</pre></td>
            <td class="status"><pre>Runtime error. Program terminated with a non-zero return code.
Mostly causes by array overflow or division by zero</pre></td>
        </tr>
    </table>
</div>
{% endblock %}