{% extends "base.html" %}

{% block content %}
<div class="problem_tabs nav-expand-lg">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/practice/basic_programming/problems/{{ problem.id }}">Problem Statement</a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active" href="/practice/basic_programming/problems/{{ problem.id }}/my_submissions">My submissions</a>
        </li>
        {% endif %}
    </ul>
    <div class="problem_content mx-5 pt-4">
        {% include "submissions_table.html" %}
    </div>
    <script src="/static/js/sorttable.js"></script>
</div>
{% endblock %}