{% extends "base.html" %}

{% block content %}
<h3>Programming Tutorials and Problems</h3>
<hr class="solid solid_sep">
<div class="album py-5 bg-light main_len_adj pl-5">
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Basic Programming</h5>
                    <p class="card-text">input/output, implementation, recursion...</p>
                    <a href="/practice/basic_programming" class="stretched-link"></a>
                </div>
            </div>
            <div class="card ml-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Data Structures</h5>
                    <p class="card-text">Arrays, queues, segment trees...</p>
                    <a href="#" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}