{% extends "base.html" %}

{% block content %}
<h3 align="center">{{ theme_title }}</h3>
<hr class="solid solid_sep">
<br>
<ul class="list-group">
    {% for problem in problems%}
        <li class="list-group-item pt-1">
            <div class="row">
                <div class="col">
                    <div class="problem_container row float-left center-block mx-auto">
                        {% if (current_user.is_authenticated) and (problem.id in problems_solved_id) %}
                            <span class="solve_indicator success_indicator"></span>
                        {% elif (current_user.is_authenticated) and (problem.id in problems_unsolved_id) %}
                            <span class="solve_indicator danger_indicator"></span>
                        {% else %}
                            <span class="solve_indicator gray_indicator"></span>
                        {% endif %}
                        <a class="problem_title mb-0 my-auto ml-3" align="center" href="/practice/{{ problem.theme }}/problems/{{ problem.id }}">{{ problem.title }}</a>
                    </div>
                    <div class="problem_container row float-right center-block">
                        <p class="text-secondary my-auto mr-2">Solved by: {{ problem.users_solved|length }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="text-secondary ml-3 my-auto">Time limit: {{ problem.time_limit }} sec</p>
                <p class="text-secondary ml-3 my-auto">Memory limit: {{ problem.memory_limit }} MB</p>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}