{% extends "base.html" %}

{% block content %}
<div class="problem_tabs nav-expand-lg px-3">
    <div class="problem_content mx-5 pt-4">
        <div class="row">
            <div class="col-sm-3 profile_icon_box">
                <img class="profile_icon" src="{{ profile_icon }}">
                <div class="adj mt-4" style="width: 200px">
                    <a class="no_dec" href="/profile/{{ user.id }}"><h4 align="center">{{ user.login }}</h4></a>
                </div>
                {% if current_user.is_authenticated and current_user.id == user.id %}
                    <div class="adj d-flex justify-content-center mt-2" style="width: 200px">
                        <a href="/profile/edit" class="btn btn-primary">Edit profile</a>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-5 pl-0 border ml-2 p-4">
                <p class="mr-1 h5">User statistics:</p>
                <div class="adj pl-2">
                    <p class="mt-1">Problems solved: {{ user.problems_solved|length }}</p>
                    <p class="mt-1">Accuracy: {{ user_statistics["accuracy"] }}%</p>
                    <p class="mt-1">Languages: {% for language in  user_statistics["languages"] %}{{ language }}{% endfor %}</p>
                    {% if current_user.is_authenticated %}
                        <p class="mt-1">Email: {{ current_user.email }} (not visible)</p>
                    {% endif %}
                </div>
                <div class="container ml-0 pl-2">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#solved_problems">Solved problems</button>
                    <div id="solved_problems" class="collapse col py-2 px-0 ">
                        <div class="card card-body py-2 px-3">
                            <p class="m-0">
                                {% for problem in user.problems_solved %}
                                    <a href="/practice/{{ problem.theme }}/problems/{{ problem.id }}">{{ problem.title }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info my-2" data-toggle="collapse" data-target="#unsolved_problems">Unsolved problems</button>
                    <div id="unsolved_problems" class="collapse py-2">
                        <div class="card card-body py-2 px-3">
                            <p class="m-0">
                                {% for problem in user.problems_unsolved %}
                                    <a href="/practice/{{ problem.theme }}/problems/{{ problem.id }}">{{ problem.title }}</a>
                                    {% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <table class="table table-bordered w-50 ml-auto">
                    <tr>
                        <th class="py-2">Result</th>
                        <th class="py-2 w-25">Number</th>
                    </tr>
                    {% for header in table_headers %}
                        <tr>
                            {% if "AC" in header %}
                                <td class="text-success py-2"><b>{{ header }}</b></td>
                            {% elif "CE" in header %}
                                <td class="text-warning py-2"><b>{{ header }}</b></td>
                            {% else %}
                                <td class="text-danger py-2"><b>{{ header }}</b></td>
                            {% endif %}
                            <td class="py-2">{{ user_statistics[header] }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}