<p>Giving 2 integers A and B, required to find their sum</p>
<p><b>Input:</b></p>
<ul class="pl-4">
    <li>A ⩽ 10<sup>9</sup>, B ⩽ 10<sup>9</sup></li>
</ul>
<p><b>Output:</b></p>
<ul class="pl-4">
    <li>one number - sum of A and B</li>
</ul>
<table class="table table-bordered sample_test">
    <tr>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Input:</b></pre>
        </td>
        <td class="mx-1">
            <pre class="word-spacing-0 mb-0"><b>Output:</b></pre>
        </td>
    </tr>
    <tr>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">228 1337</pre>
        </td>
        <td class="sample_test_item mx-1">
            <pre class="word-spacing-0">1565</pre>
        </td>
    </tr>
</table>